
* {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth !important;
}

.body-clr {
	min-height: 100vh !important;
	padding-top: 5vh !important;
	width: 100% !important;
	background-image: 
	 linear-gradient(120deg, rgba(55, 66, 88, .4) 0%, rgba(106, 114, 133, .3) 33%, rgba(196, 196, 196, .4) 71%, rgba(55, 66, 88, .5) 95%),
	 linear-gradient(-80deg, rgba(55, 66, 88, .6) 0%, rgba(106, 114, 133, .3) 33%, rgba(196, 196, 196, .5) 71%, rgba(55, 66, 88, .7) 95%),
	 linear-gradient(20deg, rgba(55, 66, 88, .4) 0%, rgba(106, 114, 133, .5) 33%, rgba(196, 196, 196, 1) 71%, rgba(55, 66, 88, 1) 95%);
}																		

.bdr1 {
	border: 2px solid yellow !important;
}

.bdr2 {
	border: 1px solid blue !important;
}

.top-nava {
	background-color: rgba(29, 29, 31, .9) !important;
}

.d-flx-nav {
  display: flex !important;
  justify-content:space-between !important;
  margin: 0 !important;
  padding: 0 !important;
}



/*###########################################	home*/
.section1 {
	min-height: 90vh !important;
	margin-bottom: 3vh !important;


	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	/*background-color: transparent !important;*/
	/*margin-top: 10vh !important;*/
	/*background-color: transparent !important;*/
	/*ont-size: 2vh !important;*/

}

.section1-sub1 {
	font-family: 'Verdana', sans-serif !important;
	/*height: 20vh !important;*/
	/*max-height: 50vh !important;*/

	width: 90vh !important;
	padding-top: 1vh !important;
}

.section1-sub2 {
	/*height: 20vh !important;*/
	height: 50vh !important;
	max-width: 50vh !important;
	padding: 3vh !important;
}

/*###########################################	about me*/
.section2 {
	height: auto !important;
	background-color: #6F8C84 !important;
	/*background-color: rgba(88, 77, 55, .7) !important;*/
	padding: 10vh 0 !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	margin: 0 4vh !important;
	margin-bottom: 4vh !important;
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: center !important;
	align-items: center !important;
}


.section2-pic-frmat {
	display: flex !important;
	align-items: flex-start !important;
	justify-content: center !important;
	height: 40vh !important;
	width: 40vh !important;
	overflow: hidden !important;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	object-fit:cover;
	background-color: rgba(196, 196, 196, 1) !important;
	margin-right: 5vh !important;
}
	
.section2-pic-frmat img {
	height: 60vh !important;
}

.section2-sub1 {
	max-width: 90vh !important;
	padding: 0 5vh !important;
}

.section2-sub1 p {
	font-size: 3vh !important;
}


/*###########################################	skills*/
.section3 {
	height: auto !important;
	width: auto !important;
	background-color: #505050 !important;
	margin: 4vh 4vh !important;
	padding-bottom: 2vh !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: center !important;  
	align-content: flex-start !important;
}


.section3-sub1 {
	width: 100%  !important; 	
	padding: 4vh 0 !important;
	text-shadow: 0 0 5px black;
	background-color: #505050 !important;
	margin: 0 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.section3-sub2 {
	margin: 0 !important;
	padding: 0 !important;
	max-width: 160vh !important;
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: center !important; 
	align-content: flex-start !important;
}

.section3-sub2 img {
	height: 20vh !important; 
	width: 15vh !important;
	background-color: white !important;	
	margin: 3vh !important;
	padding: 3px 3px !important;
}

.sec3-sub2a {
	margin: 0 !important;
	padding: 0 !important;
	border:1px solid transparent !important;
}

/*###########################################	contacts*/
.section4 {
	height: auto !important;
	background-color: rgba(55, 66, 88, 1)  !important;
	margin: 0 4vh !important;
	padding: 6vh 0 !important;
	width: auto !important;

	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: space-around !important;
	align-items: center !important; 
}

.sec4-sub2 {						/*hidden*/
	width: 100% !important;	
	padding: 4vh !important;
	margin-bottom: 3vh !important;

} 

.sec4-sub1a {
	width: 60vh !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	margin-bottom: 5vh !important;
}

.sec4-sub1b {
	display: flex !important;
	flex-wrap: wrap !important;
	font-size: 10vh !important;
}

.sec4-sub1b a {
	margin-right: 5vh !important;
}


									/*Hello*/
.a1 {
	font-size: 10vh;
	text-shadow: 0 0 10px transparent !important;
	width: auto; 
	color:transparent;
	position: relative;
	animation-name: ex1;
	animation-delay: 0.1s;
	animation-duration: 1s;  
	animation-fill-mode: forwards;
}



@keyframes ex1 {
	from {left: 0px;}
	to {left: 50px; color: white; text-shadow: 0 0 10px black !important; }
}


							/*I'm*/
.a2 {
	color:transparent;
	text-shadow: 0 0 10px transparent !important;
	font-size: 9vh;
	width: auto;
	position: relative;
	animation-name: ex2;
	animation-delay: 0.3s;
	animation-duration: 1s;  
	animation-fill-mode: forwards;
}

@keyframes ex2 {
	from {left: 0px;}
	to {left: 50px; color: white; text-shadow: 0 0 10px black !important;}
}

							/*djerick*/
.a2 span {
	color:transparent;
	text-shadow: 0 0 10px transparent !important;
	font-size: 7vh;
	position: relative;
	animation-name: ex2a;
	animation-delay: 0.5s;
	animation-duration: 2s;  
	animation-fill-mode: forwards;
}

@keyframes ex2a {
	from {left: 0px;}
	to {left: 1px; color: white;  text-shadow: 0 0 10px black !important;}
}

							/*front end web developer*/
.a3 {
	color:transparent;
	text-shadow: 0 0 10px transparent !important;
	font-size: 6vh;
	width: auto;
	position: relative;
	animation-name: ex3;
	animation-delay: 0.7s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}


@keyframes ex3 {
	from {left: 0px;}
	to {left: 50px; color: white; text-shadow: 0 0 10px black !important;}
}


/*################################################################	@media section*/

										/*ipad pro*/
@media only screen and (min-width: 961px) and (max-width: 1024px){


/*###########################################	home*/
.body-clr {
	padding-top: 0 !important;
}

.section1 {
	min-height: 40vh !important;
	margin-top: 0 !important;
}

.section1-sub1 {
	max-height: 40vh !important;
	width: 40vh !important;

}


.a1 { 
	font-size: 4vh !important; 
}

.a2 { 
	font-size: 5vh !important; 
}
.a2 span { 
	font-size: 4vh !important; 
}

.a3 { 
	font-size: 2.8vh !important; 
}


@keyframes ex1 {
	from {left: 0px;}
	to {left: 60px; color: white;}
}

@keyframes ex2 {
	from {left: 0px;}
	to {left: 60px; color: white;}
}

@keyframes ex3 {
	from {left: 0px;}
	to {left: 60px; color: white;}
}

/*###########################################	about me*/
.section2 {	
	width: 100% !important;
	margin: 0 !important;	
}

.section2-sub1 p {
	font-size: 2vh !important;
}

.section2-pic-frmat {
	height: 25vh !important;
	width: 25vh !important;
}
	
.section2-pic-frmat img {
	height: 45vh !important;
}


/*###########################################	skills*/
.section3 {
	width: 100% !important;
	margin: 0 !important;
	margin-top :4vh !important;
}

.section3-sub1 {
	padding: 2vh 0 !important;
}

.section3-sub2 img {
	height: 13vh !important; 
	width: 8vh !important;
	margin: 1vh !important;
}

/*###########################################	contacts*/
.section4 {
	margin: 0 !important;
	width: 100% !important;
	margin-top :4vh !important;
}

.sec4-sub1a {
	margin-bottom:5vh !important;
}

.sec4-sub1b {
	font-size: 7vh !important;
}

/*###########################################	navbar*/

.fnt-nav {
	font-size: 22px !important;
}

}



																/*ipad*/
@media only screen and (min-width: 401px) and (max-width:  960px) {


/*###########################################	navbar*/
.nav-tgler {
	background-color: rgba(55, 66, 88, .6) !important;
}

.butn-tgle {
	background-color: rgba(106, 114, 133, .5) !important;	
}

.fnt-nav {
	font-size: 3vh !important;
}


/*###########################################	home*/
.body-clr {
	padding-top: 0 !important;
}

.section1 {
	min-height: 40vh !important;
	margin-top: 0 !important;
}

.section1-sub1 {
	max-height: 40vh !important;
	width: 30vh !important;

}


.a1 { 
	font-size: 3.6vh !important; 
}


.a2 { 
	font-size: 4vh !important; 
}
.a2 span { 
	font-size: 3vh !important; 
}

.a3 { 
	font-size: 2.3vh !important; 
}

@keyframes ex1 {
	from {left: 0px;}
	to {left: 40px; color: white; text-shadow: 0 0 10px black; }
}
@keyframes ex2 {
	from {left: 0px;}
	to {left: 40px; color: white; text-shadow: 0 0 10px black ;}
}

@keyframes ex2a {
	from {left: 0px;}
	to {left: 1px; color: white;  text-shadow: 0 0 10px black ;}
}

@keyframes ex3 {
	from {left: 0px;}
	to {left: 40px; color: white; text-shadow: 0 0 10px black ;}
}

/*###########################################	about me*/
.section2 {	
	width: 100% !important;
	margin: 0 !important;	
}

.section2-sub1 p {
	font-size: 2vh !important;
}

.section2-pic-frmat {
	height: 25vh !important;
	width: 25vh !important;
}
	
.section2-pic-frmat img {
	height: 45vh !important;
}


/*###########################################	skills*/
.section3 {
	width: 100% !important;
	margin: 0 !important;
	margin-top :4vh !important;
}

.section3-sub1 {
	padding: 2vh 0 !important;
}

.section3-sub2 img {
	height: 13vh !important; 
	width: 8vh !important;
	margin: 1vh !important;
}

/*###########################################	contacts*/
.section4 {
	margin: 0 !important;
	width: 100% !important;
	margin-top :4vh !important;
}

.sec4-sub1a {
	margin-bottom:5vh !important;
}

.sec4-sub1b {
	font-size: 7vh !important;
}

}




												/*mobile*/
@media only screen and (max-width: 400px){


/*###########################################	navbar*/
.nav-tgler {
	background-color: rgba(55, 66, 88, .6) !important;
}

.butn-tgle {
	background-color: rgba(106, 114, 133, .5) !important;	
}

.fnt-nav {
	font-size: 3vh !important;
}


/*###########################################	home*/
.body-clr {
	padding-top: 0 !important;
}

.section1 {
	min-height: 40vh !important;
	margin-top: 0 !important;
}

.section1-sub1 {
	max-height: 40vh !important;
	width: 30vh !important;

}


.a1 { 
	font-size: 3.3vh !important; 
}


.a2 { 
	font-size: 3.7vh !important; 
}
.a2 span { 
	font-size: 2.8vh !important; 
}

.a3 { 
	font-size: 2.3vh !important; 
}

@keyframes ex1 {
	from {left: 0px;}
	to {left: 30px; color: white; text-shadow: 0 0 10px black; }
}
@keyframes ex2 {
	from {left: 0px;}
	to {left: 30px; color: white; text-shadow: 0 0 10px black ;}
}

@keyframes ex2a {
	from {left: 0px;}
	to {left: 1px; color: white;  text-shadow: 0 0 10px black ;}
}

@keyframes ex3 {
	from {left: 0px;}
	to {left: 30px; color: white; text-shadow: 0 0 10px black ;}
}

/*###########################################	about me*/
.section2 {	
	width: 100% !important;
	margin: 0 !important;	
}

.section2-sub1 p {
	font-size: 2vh !important;
}

.section2-pic-frmat {
	height: 25vh !important;
	width: 25vh !important;
}
	
.section2-pic-frmat img {
	height: 45vh !important;
}


/*###########################################	skills*/
.section3 {
	width: 100% !important;
	margin: 0 !important;
	margin-top :4vh !important;
}

.section3-sub1 {
	padding: 2vh 0 !important;
}

.section3-sub2 img {
	height: 13vh !important; 
	width: 8vh !important;
	margin: 1vh !important;
}

/*###########################################	contacts*/
.section4 {
	margin: 0 !important;
	width: 100% !important;
	margin-top :4vh !important;
}

.sec4-sub1a {
	margin-bottom:5vh !important;
}

.sec4-sub1b {
	font-size: 5vh !important;
}

}

